.card{
    border-radius: 7px;
    padding: 0 15px 5px;
    background: #e2e3e4;
    color: #080909;
    margin-bottom: 10px;
    cursor: move;
    text-align: left;
}
.card .user p {

    padding: 0;
    margin: 0;
    font-size: .75em;
}
.card .icon {

    display: inline-block;
    width: 10%;
}

.card .data {
    display: block;
}
.card .summary {
    white-space: nowrap;
    padding: 1px;

}
.Card--spacer,
  .Card--dragging {
    opacity: 0;
  }
