.Column {
    display: inline-block;
    vertical-align: top;
    width: 225px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
    background: white;
    box-shadow:5px 10px 15px grey;
    color: black;
    height: 100%;
    overflow-y: auto;
  }
  .Column:nth-child(1) .card{
      box-shadow: 5px 2px 2px yellow;
  }
  .Column:nth-child(2) .card{
    box-shadow: 5px 2px 2px orange;
}
.Column:nth-child(3) .card{
    box-shadow: 5px 2px 2px blue;
}
.Column:nth-child(4) .card{
    box-shadow: 5px 2px 2px purple;
}
.Column:nth-child(5) .card{
    box-shadow: 5px 2px 2px green;
}
.Column:nth-child(6) .card{
    box-shadow: 5px 2px 2px red;
}
.Column:nth-child(7) .card{
    box-shadow: 5px 2px 2px red;
}
.Column:nth-child(8) .card{
    box-shadow: 5px 2px 2px red;
}

.Column_title {
    font-size: 18px;
    margin-bottom: 30px;
}
